<launch>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"/>
  <!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch"/-->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="static_tf_laser_link" args="0 0 0.15 0 0 0 base_link laser 100"/>

</launch>
